bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
packages/
TestResults/
*.log
*.log.*
yanu.log*
covers/
tools/cache/
temp/
*.zip
publish/
installer/Output/
installer/StormInstaller/bin/
installer/StormInstaller/obj/
Files/*.exe
Files/*.zip
*.exe
!tools/**/*.exe

